.pagerLoading {  background: rgba(0, 0, 0, 0) url("../img/loading.jpg") no-repeat scroll 50% center;  float: right;  height: 40px;  width: 40px;  z-index: 1040;}
canvas{
    position: absolute; top: 0;
    z-index:-9999;
    background: #48D1CC;
}