.container {
    max-width: 500px;
    margin: 0 auto;
    .board {
        position: relative;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        background: #ffffff08;
        border-radius: 5px;
        box-shadow: 0 0 8px 0px #f9d49a;


        .grid {
            width: 100%;
            height: 100%;
            .gridCell {
                width: var(--cell-width);
                height: var(--cell-height);
                background-color: darkblue;
                padding: 8px;
                background-clip: content-box;
                box-sizing: border-box;
                float: left;
            }
        }

        .number {
            position: absolute;
            width: 100%;
            height: 100%;
            .numberCell {
                width: var(--cell-width);
                height: var(--cell-height);
                padding: 8px;
                background-clip: content-box;
                box-sizing: border-box;
                color: #fff;
                font-size: 2rem;
                background-clip: content-box;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                float: left;
                border: 1px solid blueviolet;
            }
            .hide {
                background: aqua;
                background-clip: content-box;
            }
        }
    }
    
}