@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --primary:#B7E0FF;
    --primary-yellow:#FFF5CD;
    --primary-pink:#FFCFB3;
    --primary-red:#E78F81;
  }
}

html {
  color: var(--foreground);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
