<!--导航部分-->
<div id="m-nav" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 affix">
    <div class="row m-nav-container">
        <!--导航1-->
        <div class="col-sm-3 col-md-5 animated fadeIn"  id="m-sidebar" style="overflow: hidden; animation-duration: 0.7s; animation-timing-function: ease-in-out;">
            <!--导航1内容-->
            <div class="sidebar-container">
                <div class="logo-box">
                    <a class="logo-link" href="#">AZOTH</a>
                    <p class="logo-desc">leaving to die,leading to life</p>
                </div>
                <ul class="site-nav-box row">
                    <li class="col-md-12 col-xs-4">
                        <a class="current_nav" href="#/home">首页</a>
                    </li>
                    <li class="col-md-12 col-xs-4">
                        <a href="#/about">关于</a>
                    </li>
                    <li class="col-md-12 col-xs-4">
                        <a href="#/connect">联系</a>
                    </li>
                </ul>
                <hr class="site-nav-diver">
                <div class="tag">
                    <div class="tag-header">
                        <ul>
                            <li ng-repeat="value in taglist"><a href="#/tag/{{value.name}}" ng-bind="value.name+'('+value.num+')'"></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="site-nav-diver">
                <div class="date">
                    <div class="date-header">
                        <ul>
                            <li ng-repeat="value in timeList"><a href="" ng-bind="value.name+'('+value.num+')'"></a></li>
                        </ul>
                    </div>
                </div>
                <hr class="site-nav-diver">

                <p class="site-copyright">
                    © Copyright 2014 - 2015
                </p>
            </div>
            <!--导航1边框-->
            <div class="sidebar-bg"></div>
        </div>
        <!--导航2-->
        <div data-ui-view="nav-s"></div>
    </div>
</div>